body{font-family: 'Roboto', sans-serif;background: url(../images/41270.ngsversion.1471321992817.adapt.1900.1.jpg) no-repeat center;
background-attachment: fixed;}
.layout-page{float:left;width:100%;z-index:999;min-height: 100vh;position: relative;z-index: 99;}
.layout-opacity{position: fixed;top:0;left: 0;width: 100%;height: 100%;z-index: 9;background: rgba(0,0,0,0.8);}
.container{width:96%;margin:0 auto;max-width: 1480px;}

.layout-header{float: left;width: 100%;background: #fff;}
.header-main{float: left;width: 100%;padding: 22px 30px;position: relative;box-sizing: border-box;}
.header-main .header-top{float: left; width: 100%;}
.header-main .menu{float: left;margin-top: 20px;}
.header-main .menu .menu-icon{float: left;cursor: pointer;}
.header-main .menu .menu-icon img{float: left;}
.header-main .header-right{float: right;}
.header-main .header-links{display: block;border-left: solid 1px #4d4d4d; padding-left: 10px;}
.header-main .header-links > li{display: inline-block;vertical-align: middle;padding: 0 10px;}
.header-main .header-links > li > span > img{cursor: pointer;}

.header-logo-abs{position: absolute;top:15px;left: 0;right: 0;margin: auto;max-width: 400px;}
.header-logo-main{float: left;width: 100%;}
.header-logo-main .logo{float: left;position: relative;padding-left: 85px;}
.header-logo-main h1{color: #044992;font-size: 30px;text-transform: uppercase;margin-top: 25px;font-weight: 700;}
.header-logo-main h1 > img{position: absolute;top:0;left: 0;}

.layout-content{float: left;width: 100%;}
.content-main{float: left;width: 100%;box-sizing: border-box;padding: 30px;}


/*=============Global Css =============*/
.card-ind{float: left;width: 100%;box-sizing: border-box;padding: 30px;background: #fff;}
.card-ind-header{float: left;width: 100%;border-bottom: solid 1px #dedede;padding-bottom: 15px;}
.card-ind-header > h3{float: left;color: #666666;text-transform: uppercase;}
.card-ind-header > h4{float: right; color: #888888;font-size: 20px;text-transform: uppercase;}
.card-ind-header > h4 > span{color: #1a1a1a;}
.card-ind-content{float: left;width: 100%;padding-top: 15px;}
.card-ind-subheader{float: left;width: 100%;margin-bottom: 15px;}
.card-ind-subheader > h3{float: left;font-size: 18px;font-weight: 600;}
.card-ind-subheader > h4{float: right;color: #4a4a4a;font-size: 18px;}
.card-ind-subheader > h4 > span{color: #7ed321;}

.card-ind .field-box{margin-bottom: 20px;}
.card-ind .field-box h3{font-size: 18px;color: #888888;line-height: 24px;margin-bottom: 4px;}
.card-ind .field-box p{font-size: 18px;color: #1a1a1a;line-height: 22px;}

.card-btn-box{float: left;width: 100%;text-align: center;margin: 25px 0 34px;}
.card-btn-box > input[type="button"]{border-width: 2px;border-style: solid;border-radius: 5px;font-size: 18px;
text-transform: uppercase;display: inline-block;padding: 10px;line-height: 24px;min-width: 270px;
background: transparent;}

/*Landing Page css*/
.landing-content{position: relative;min-height: 80vh;}
.landing-btn-box{position: absolute;width: 100%;left: 0;bottom: 75px;text-align: center;}
.landing-btn-box .newscan-btn{border-width: 2px;border-style: solid;border-radius: 5px;font-size: 18px;
text-transform: uppercase;display: inline-block;padding: 10px;line-height: 24px;min-width: 270px;
background: #fff;border:0; }


/*===============Detail page css==================*/
.detail-box-warp{float: left;width: 100%;}
.detail-box-warp .box-col{float: left;width: 50%;padding: 0 15px;box-sizing: border-box;margin-bottom: 30px;}
.detail-box-warp .box-col:nth-child(odd){padding-left: 0;}
.detail-box-warp .box-col.box-col:nth-child(even){padding-right: 0;}
.detail-box-warp .box-col.box-col:nth-child(2n+1){clear: left;}

.detail-box-warp .app-box-col-wrap{float: left;width: 100%;}
.detail-box-warp .app-box-col{float: left;}
.detail-box-warp .app-box-col.app-box-col1{width: 70%;}
.detail-box-warp .app-box-col .app-box-field{float: left;box-sizing: border-box;padding-right: 10px;width: 50%;}
.detail-box-warp .app-box-col .app-box-field:nth-child(2n+1){clear: left;}
.detail-box-warp .app-box-address{float: left;width: 100%;}
.detail-box-warp .app-box-setting{float: left;width: 100%;margin-top: 25px;}
.detail-box-warp .app-box-setting .setting-ind{float: left;width: 50%;padding: 0 15px;position: relative;box-sizing: border-box;}
.detail-box-warp .app-box-setting .setting-ind:nth-child(odd){padding-left: 0;}
.detail-box-warp .app-box-setting .setting-ind:nth-child(even){padding-right: 0;}
.detail-box-warp .app-box-setting .setting-ind input[type="checkbox"]{position: absolute;visibility: hidden;}
.detail-box-warp .app-box-setting .setting-ind label{font-size: 18px; color: #1a1a1a;line-height: 24px;
background: url('../images/checkbox.png') no-repeat 0 0;padding-left: 43px;padding-top: 4px;}
.detail-box-warp .app-box-setting .setting-ind input[type="checkbox"]:checked + label{background: url('../images/checkbox-check.png') no-repeat 0 0 !important;} 


.detail-box-warp .app-box-col.app-box-col2{width: 30%;}
.detail-box-warp .app-box-col.app-box-col2 .user-pic{float: right;}
.detail-box-warp .app-box-col.app-box-col2 .user-pic > img{display: inline-block;max-width: 100%;}

.detail-box-warp .permit-fields-wrap{float: left;width: 100%;}
.detail-box-warp .permit-fields-wrap.permit-fields-wrap1{padding-bottom: 15px;border-bottom: solid 1px #dedede;}
.permit-box .card-ind-subheader.card-ind-subheader2{margin: 25px 0 15px;}
.permit-box-field.field-box{float:left;width: 50%;padding: 0 15px;box-sizing: border-box;}
.permit-box-field.field-box:nth-child(odd){padding-left: 0;}
.permit-box-field.field-box:nth-child(odd){padding-right: 0;}

.app-box-field.field-box p span.user-icon{display: inline-block;padding-left: 20px;background: url('../images/Group.png') no-repeat left bottom;}
.app-box-field.field-box p span.write-icon{display: inline-block;padding-right: 20px;background: url('../images/grey600 copy.png') no-repeat right bottom;}

.detail-box-warp .payment-list-options{float: left;width: 100%;margin: 25px 0;}
.detail-box-warp .payment-list-options > li{float: left;padding: 0 10px;width: 33%;box-sizing: border-box;}
.detail-box-warp .payment-list-options > li:first-child{padding-left: 0;}
.detail-box-warp .payment-list-options .payment-list-ind{float: left;width: 100%;box-sizing: border-box;position: relative;}
.detail-box-warp .payment-list-options .payment-list-ind label{font-size: 18px; color: #1a1a1a;line-height: 24px;
background: url('../images/radio_deselect.png') no-repeat 0 0;padding-left: 43px;padding-top: 4px;}
.detail-box-warp .payment-list-options .payment-list-ind input[type="radio"]:checked + label{background: url('../images/radiobutton_check.png') no-repeat 0 0 !important;} 
.detail-box-warp .payment-list-options .payment-list-ind input[type="radio"]{position: absolute;visibility: hidden;}

.card-btn-box.payment-btn-box input[type="button"]{color: #7ed321;border-color: #7ed321;}
.card-btn-box.permit-btn-box input[type="button"]{color: #4a4a4a;border-color: #4a4a4a;}

.card-ind-content.schedule-test-box .communication-box{float: left;width: 100%;margin: 25px 0 10px;}
.card-ind-content.schedule-test-box .communication-list{float: left;width: 100%;}
.card-ind-content.schedule-test-box .communication-list > li{float: left;width: 50%;padding: 0 10px;box-sizing: border-box;}
.card-ind-content.schedule-test-box .communication-list > li:first-child{padding-left: 0;}

.card-ind-content.schedule-test-box .communication-list .communication-list-ind{float: left;width: 100%;box-sizing: border-box;position: relative;}
.card-ind-content.schedule-test-box .communication-list .communication-list-ind label{font-size: 18px; color: #1a1a1a;line-height: 24px;
background: url('../images/radio_deselect.png') no-repeat 0 0;padding-left: 43px;padding-top: 4px;}
.card-ind-content.schedule-test-box .communication-list .communication-list-ind input[type="radio"]:checked + label{background: url('../images/radiobutton_check.png') no-repeat 0 0 !important;} 
.card-ind-content.schedule-test-box .communication-list .communication-list-ind input[type="radio"]{position: absolute;visibility: hidden;}
.box-col.box-col4 .card-ind-header h4 a{color: #044992;text-transform: capitalize;font-size: 17px;}

.schedule-calender-box{float: left;width: 100%;margin-bottom: 62px;}
.schedule-calender-box-ind{float: left;width:50%;position: relative;}

.schedule-calender-box-ind > h3{float: left;color: #666666;position: relative;}
.schedule-calender-box-slop{color: #666666;}
.schedule-calender-box-ind > h3 > span input[type="text"]{border: none;color: #1a1a1a;font-size: 18px;}
.schedule-calender-box-ind span img {
    position: absolute; top: 0;right: 10px;
}

.box-col3{
	display: none;
}
.box-col4{
	display: none;
}
.disabled{
	cursor: no-drop;
	opacity: .6;
}
.hidden{
	display:none !important;
}

/*============Fingre Scan=======*/
.figure-scan-wrap{margin: 0 auto;width: 100%;max-width: 1000px;}

/*=======Fingure Page css=====*/


#finger-scan{
	background-color: white;
    max-width: 195px;
    padding: 15px;
    margin: 0 auto;
    height: 270px;
    border: solid 1px #979797;	
}
#finger-scan path{
	transition: stroke 1s ease-in-out;
}
#finger-scan .status{
	text-align:center;
	margin-top:10px;
}
.approved{
	display: none;
}
.loader{
	display: none;
}
.loader span {
	display: block; 
	margin: 0 auto;
}

.loader span[class*="l-"] {
	height: 4px; width: 4px;
	background: #000;
	display: inline-block;
	margin: 12px 2px;
	
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	
	-webkit-animation: loader 4s infinite;
	-webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-webkit-animation-fill-mode: both;
	-moz-animation: loader 4s infinite;
	-moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-moz-animation-fill-mode: both;
	-ms-animation: loader 4s infinite;
	-ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-ms-animation-fill-mode: both;
	animation: loader 4s infinite;
	animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	animation-fill-mode: both;
}

.loader span.l-1 {-webkit-animation-delay: 1s;animation-delay: 1s;-ms-animation-delay: 1s;-moz-animation-delay: 1s;}
.loader span.l-2 {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;-ms-animation-delay: 0.8s;-moz-animation-delay: 0.8s;}
.loader span.l-3 {-webkit-animation-delay: 0.6s;animation-delay: 0.6s;-ms-animation-delay: 0.6s;-moz-animation-delay: 0.6s;}
.loader span.l-4 {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;-ms-animation-delay: 0.4s;-moz-animation-delay: 0.4s;}
.loader span.l-5 {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;-ms-animation-delay: 0.2s;-moz-animation-delay: 0.2s;}
.loader span.l-6 {-webkit-animation-delay: 0;animation-delay: 0;-ms-animation-delay: 0;-moz-animation-delay: 0;}

@-webkit-keyframes loader {
	0% {-webkit-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-webkit-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-moz-keyframes loader {
	0% {-moz-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-moz-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-keyframes loader {
	0% {-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-ms-keyframes loader {
	0% {-ms-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-ms-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}


